.benefits {
  background-color: #ffffff;
}

.benefits__wrapper-list {
  padding: 0;
  list-style: none;
}

.benefits__title {
  font-family: @main-font;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: text-color;
  text-transform: uppercase;
}

.benefits__intro {
  font-family: @main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: @text-color;
  text-transform: uppercase;
}


.benefits__item-title {
  font-family: @main-font;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.benefits__number {
  font-family: @main-font;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.benefits__description {
  font-family: @main-font;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.benefits__featyres-list {
  padding: 0;
  list-style: none;
}

.benefits__featyres-title {
  font-family: @main-font;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @title-color;
  text-transform: uppercase;
}

.benefits__featyres-description {
  font-family: @main-font;
  font-size: 14px;
  line-height: 21px;
  color: @text-color;
  text-transform: uppercase;
}

.benefits__item--brand-color {
  background-color: @brand-color;
}

.benefits__item--other {
  background-color: #ededed;
  color: @text-color;
}

.benefits__item-title--other {
  color: @title-color;
}

.benefits__number--other {
  color: @text-color;
}

.benefits__description--other {
  color: @text-color;
}
