.booking {
  background-color: #ffffff;
}

.booking__title {
  font-family: @main-font;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: @title-color;
  text-transform: uppercase;
}

.booking__description {
  font-family: @main-font;
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
  text-transform: uppercase;
}
