.booking {
  background-color: @light-color;
}

.booking__title {
  font-family: @main-font;
  font-size: @text-lh;
  font-weight: @font-bold;
  line-height: @title-lh;
  color: @title-color;
  text-transform: uppercase;
}

.booking__description {
  font-family: @main-font;
  font-size: @text-fs;
  line-height: @text-mlh;
  color: @text-color;
  text-transform: uppercase;
}
