.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: start;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 21px;
  }
}

.footer__visit {
  margin-bottom: 37px;
  font-family: @main-font;
  font-size: @text-lh;
  font-weight: @font-bold;
  line-height: @title-lh;
  color: @title-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 60px;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: 120px;
  }
}

.footer__text {
  .title-mixin();
  font-size: 21px;
}

.footer__made-by {
  display: flex;
  padding-top: 31px;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-left: auto;
    margin-right: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    margin-right: 120px;
  }
}

.footer__made-by-text {
  margin: 0;
  margin-right: 14px;
  font-family: @main-font;
  font-size: @text-fs;
  line-height: @title-lh;
  color: @title-color;
  text-transform: uppercase;
}

.footer__made-by-svg {
  width: 27px;
  height: 34px;
  margin-top: 10px;

  fill: @title-color;
}

.footer__made-by-svg:hover {
  fill: #81b3d2;
}

.footer__made-by-svg:active {
  fill: @title-color;
  opacity: 0.3;
}
