.gallery__title {
  .title-mixin();
}

.gallery__intro {
  .text-mixin();
  line-height: @text-mlh;
}

.gallery__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gallery__item-title {
  .text-mixin();
  font-weight: @font-bold;
  line-height: @text-mlh;
}

.gallery__text {
  font-family: @main-font;
  font-size: @text-fs;
  line-height: @text-mlh;
  color: @text-color;
}

.gallery__like {
  font-family: @main-font;
  font-size: @text-fs;
  font-weight: @font-bold;
  line-height: @text-mlh;
  color: @title-color;
}
