.gallery__title {
  font-family: @main-font;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: @title-color;
  text-transform: uppercase;
}

.gallery__intro {
  font-family: @main-font;
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
  text-transform: uppercase;
}

.gallery__item-title {
  font-family: @main-font;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: @title-color;
  text-transform: uppercase;
}

.gallery_text {
  font-family: @main-font;
  font-size: 14px;
  line-height: 24px;
  color: @text-color;
}

.gallery-like {
  font-family: @main-font;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: @title-color;
}
