.header__intro {
  padding-top: 90px;
  background-color: @brand-color;
  background-image: url('../../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
}

.header__intro--photo {
  padding-top: 52px;
}

.header__intro--form-page {
  padding-top: 52px;
}
