.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.main-nav__item:last-child .main-nav__link  {
  box-shadow: @box-shadow;
}

.main-nav__link {
  display: block;
  font-family: @main-font;
  font-size: @title-fs;
  font-weight: @font-bold;
  line-height: 40px;
  text-transform: uppercase;
  background-color: @brand-color;
  color: @light-color;
}
