.main-nav {
  min-height: 220px;
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-height: 56px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    min-height: 56px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    flex-direction: row;
  }
}

.main-nav__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

@media (min-width: @tablet-width) {
  .main-nav__item {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item {
    border: none;
  }
}

.main-nav__item.main-nav__item--logo {
  border: none;
}

.main-nav__item:nth-child(1) {
  order: 1;
}

.main-nav__item:nth-child(2) {
  order: 2;
}

.main-nav__item:nth-child(3) {
  order: 3;
}

.main-nav__item:nth-child(4) {
  order: 4;
}

.main-nav__item:nth-child(5) {
  order: 5;
}

@media (min-width: @tablet-width) {
  .main-nav__item:nth-child(3) {
    order: 4;
  }

  .main-nav__item:nth-child(4) {
    order: 5;
  }

  .main-nav__item:nth-child(5) {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item:nth-child(3) {
    order: 4;
  }

  .main-nav__item:nth-child(4) {
    order: 5;
  }

  .main-nav__item:nth-child(5) {
    order: 3;
  }
}

.main-nav__item:last-child .main-nav__link {
  box-shadow: @box-shadow;
}

.main-nav__link {
  display: block;
  font-family: @main-font;
  font-size: @title-fs;
  font-weight: @font-bold;
  line-height: 40px;
  text-transform: uppercase;
  background-color: @brand-color;
  color: @light-color;
}
