.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 56px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    height: 89px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    order: -1;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    order: -1;
    flex-direction: row;
  }
}

.main-nav__list--right {
  @media (min-width: @tablet-width) {
    order: 1;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    flex-direction: row;
  }
}

.main-nav__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  @media (min-width: @tablet-width) {
    min-width: 153px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
    min-width: 239px;
  }
}

.main-nav__item.main-nav__item--logo {
  border: none;
}

.main-nav__link {
  display: block;
  padding: 7px;
  text-align: center;
  font-family: @main-font;
  font-size: @title-fs;
  font-weight: @font-bold;
  line-height: 40px;
  text-transform: uppercase;
  background-color: @brand-color;
  color: @light-color;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: @text-fs;
    color: @title-color;
    background-color: #ffffff;
    padding-top: 7px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    color: @title-color;
  }
}

.main-nav__link:hover {
  @media (max-width: 767px) {
    background-color: @brand-hover;
  }

  @media (min-width: @tablet-width) {
    color: @brand-color;
  }
}

.main-nav__link:active {
  @media (max-width: 767px) {
    color: rgba(255, 255, 255, 0.3);
    background-color: @brand-down;
  }

  @media (min-width: @tablet-width) {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__link--active {
  @media (min-width: @tablet-width) {
    color: @active-color;
  }
}

.main-nav__link--active:hover {
  @media (min-width: @tablet-width) {
    color: #604e43;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-menu.svg");
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 23px 22px;
  border: none;
  outline: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__toggle--closed {
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 23px 22px;
  background-color: rgba(0, 0, 0, 0);

  @media (min-width: @tablet-width) {
    display: none;
  }
}
