.socials__list {
  padding: 0;
  list-style: none;
}

.socials__text {
  font-family: @main-font;
  font-size: @text-lh;
  font-weight: @font-bold;
  line-height: @title-lh;
  color: @title-color;
  text-transform: uppercase;
}
