.video__title {
  font-family: @main-font;
  font-size: @title-fs;
  font-weight: @font-bold;
  line-height: @title-lh;
  color: @title-color;
  text-transform: uppercase;
}

.video_text {
  font-family: @main-font;
  font-size: @text-fs;
  line-height: @text-mlh;
  color: @text-color;
  text-transform: uppercase;
}
