.wrapper {
  margin: 0 auto;
  width: auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
