@main-font: "PT Sans", "Arial", sans-serif;
@brand-color: #81b3d2;
@title-color: #000000;
@title-fs: 18px;
@title-lh: 26px;
@text-color: #333333;
@text-fs: 14px;
@text-lh: 21px;
@text-mlh: 24px;
@font-bold: bold;
@light-color: #ffffff;
@box-shadow: inset 0px -2px 6px 0px rgba(0, 0, 0, 0.2);
