@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
@main-font: "PT Sans", "Arial", sans-serif;
@title-fs: 18px;
@title-lh: 26px;
@text-fs: 14px;
@text-lh: 21px;
@text-mlh: 24px;
@big-fs: 30px;
@font-bold: bold;
@active-color: #766357;
@brand-color: #81b3d2;
@brand-hover: #669ec0;
@brand-down: #5496bd;
@title-color: #000000;
@text-color: #333333;
@bg-form-before: #e6e6e6;
@input-hover-color: #e5e5e5;
@input-active-color: #d5d5d5;
@header-intro-light: #e4f1f9;
@light-color: #ffffff;
@box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.2);
@border-top: 1px solid #d5d5d5;
@textarea-light:#f2f2f2;
@grey-border: 1px solid #c2c2c2;
@video-button-default: #5c6870;
@retina-x2: 144dpi;
